table {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px black solid;
    text-align: center;
}

th {
    font-size: 2em;
    padding: .5em;
}

.price {
    background: #a4d6b3;
    font-weight: 900;
    font-size: 2em;
    padding: .25em;
}

td {
    padding: 1em;
}

button {
    color: white;
    background: #1c9941;
}

tr:nth-child(odd) {
    background: #f7f7f7;
}